/* CSS Document */
.header{
      height: 80px;
      margin-top: 30px;
      display: grid;
      grid-template-columns:80px auto auto;
}
.header .h-menu{
      text-align:right;
      line-height: 80px;
}
.header .h-menu a{
      text-decoration: none;
}


.header .search{
      text-align: right;
}
.header .search input[type=text]{
      height: 42px;
      margin-top: 20px;
      vertical-align: middle;
}
.header .search button{
      margin-top: 20px;
      vertical-align:middle;
}

input[type=text]{
      color: red;
      width: 100px;
}

*[value]{
      color: red;
}
