body{
	font-family: "微软雅黑";
	font-size: 16px;
}
*{
	padding: 0;
	margin: 0;
}
/* 版心 */
.main{
	width:90%;
	margin: 0 auto;
}
.nav_top{
	background:#333;
	height: 30px;
}
.header{
	height: 80px;
/*	background: #FFFF00;*/
}
.banner{
    height:auto;	
}
.banner_l{
    width: 25%;
  	height:380px;
	float: left;
}
.banner_r{ 
	height:380px; 
	 width: 75%;
	float: right;
	
}
.footer{
	clear: both;
	height: 100px;
	background: #0000FF;
}