.container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows:minmax(300px, auto);
    grid-gap: 14px;
}
.pic{
    border: 1px solid #eee;
}
.pic img{
    width:90%
}
.pic:first-child{
    grid-row: 1/3;
}
.pic:first-child img{
    width: 100%;
}
